@import url("https://fonts.googleapis.com/css?family=Merriweather|Open+Sans:400,600&display=swap");
body {
  background-color: #fff;
  color: #000;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Merriweather;
  font-weight: 400;
  line-height: 1.4em;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.75em;
  color: #333;
}

h3 {
  font-size: 1.5em;
  color: #333;
}

h4 {
  font-size: 1.25em;
  color: #333;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.75em;
  font-weight: 600;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

.underline, a {
  border-bottom: 2px solid currentColor;
  display: inline-block;
  line-height: 1;
  text-shadow: 2px 2px white, 2px -2px white, -2px 2px white, -2px -2px white;
}

h1.text-center,
h2.text-center,
h3.text-center,
h4.text-center,
h5.text-center,
h6.text-center,
p.text-center,
span.text-center,
blockquote.text-center,
figcaption.text-center {
  text-align: center;
}

a {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
}
a:focus, a:hover {
  color: #ff817a;
}

button, button.submit, button.delete {
  width: 150px;
  height: 50px;
  border-radius: 15px;
  border: 2px solid #ff817a;
  color: #ff817a;
}
button:hover, button:focus {
  color: #feefef;
  border-color: #ff817a;
  background-color: #ff817a;
}

button.delete {
  border-color: #c5504d;
  color: #c5504d;
}
button.delete:hover, button.delete:focus {
  color: #feefef;
  border-color: #c5504d;
  background-color: #c5504d;
}

button.submit {
  border-color: #00e65e;
  color: #00e65e;
}
button.submit:hover, button.submit:focus {
  color: #feefef;
  border-color: #00e65e;
  background-color: #00e65e;
}

.framework-navbar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 6%;
  width: 100%;
  background-color: #68466f;
  color: #feefef;
  font-size: 1.25em;
  font-weight: 400;
}
.framework-navbar ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  -ms-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.framework-navbar ul .framework-navbar-title {
  margin-top: -10px;
  font-size: 1.35em;
  font-weight: 400;
}
.framework-navbar ul a {
  color: inherit;
  line-height: 0.7em;
  font-weight: 400;
  text-decoration: none;
  border-bottom: none;
  text-shadow: none;
}
.framework-navbar ul a:hover, .framework-navbar ul a:focus {
  border-bottom: 1px solid white;
}
.framework-navbar * {
  padding: 10px;
}

/*# sourceMappingURL=style.css.map */
